<style>
/*
@font-face {
    font-family: 'NimbusSans-Regular';
    src: url('../resources/fonts/NimbusSans-Regular.otf');
}

@font-face {
    font-family: 'NimbusSansNarrow-Regular';
    src: url('../resources/fonts/NimbusSansNarrow-Regular.otf');
}

@font-face {
    font-family: 'NimbusRoman-Regular';
    src: url('../resources/fonts/NimbusRoman-Regular.otf');
}

@font-face {
    font-family: 'NimbusMono';
    src: url('../resources/fonts/NimbusMonoPS-Regular.otf');
}

#site, a {
    font-family: 'NimbusSans-Regular';
}

p {
    font-size: 16px;
}

#notebook-container > .code_cell {
    font-family: 'NimbusMono';
}

h1, h2, h3 {
    font-family: 'NimbusRoman-Regular';
}
*/


.nbviewer {
    background-color: #FFFBF3;
}

#notebook-container {
    background-color: #FFFBF3;
}

div.input_area {
    background-color: #FFFBF3;
}

div.output_area img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.text_cell_render img {
    max-height: 520px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
</style>
